.bg-animated-gradient {
    height: 100%;
    width: 100%;
    position: relative;
    /* For the overlay */
    background: linear-gradient(45deg, #1e3a8a, #8b5cf6, #d946ef, #22d3ee, #1e3a8a);
    background-size: 400% 400%;
    /* Increased for a smoother transition */
    animation: bg-animated-gradient-animation 15s ease-in-out infinite;
}

/* Dark overlay to make the gradient moody */
.bg-animated-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Dark overlay with 70% opacity */
    z-index: 1;
}

/* Ensure content inside is above the overlay */
.bg-animated-gradient>* {
    position: relative;
    z-index: 2;
}

@keyframes bg-animated-gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}